 
.nav-bar {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    color: var(--unnamed-color-p);
    align-items: center;
}
.btn-nav {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.nav-bar ul {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.nav-bar ul li {
font-size: 14px;
}
.lang-nav {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  color: #FBD0BE;
}

.fa-solid.fa-magnifying-glass  {
  color: #FBD0BE;
}
.y {
  display: none;
}

/*  */

































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































